<!DOCTYPE html>
<html>
<head>
    <title>Champion Not Found</title>
</head>
<body>

<form method="post" action="{{ request.url_for('search') }}" id="champion_form">
    <h2>Champion search</h2>
    <label for="champion_name">Name</label>
    <input type="text" name="champion_name" placeholder="Enter champion's name..." required>
    <button type="submit">Search</button>
</form>

<h1>Champion Not Found</h1>

<p>No champion named "{{ searched_name }}" was found.</p>

<a href="/">Return to search</a>

</body>
</html>